@if (Session["user"] != null)
{
    OrDragon.Models.User user = (OrDragon.Models.User)Session["user"];
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li> <a href="" id="TimeOutDisplay" style="color:yellow;"></a></li>
            <li>
                @Html.ActionLink("Bonjour " + user.Name + " " + user.Lastname + "!", "Manage", "User", routeValues: null, htmlAttributes: new { title = "Administrer" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <div id="log-message"></div>
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Nom d'utilisateur</label>
                                    <input type="text" data-val="true" class="form-control" id="Username" name="Username" placeholder="Nom d'utilisateur" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Mot de passe</label>
                                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Mot de passe" required>
                                </div>
                                <div class="form-group">
                                    <button id="btn-login" type="submit" class="btn btn-primary btn-block">S'authentifier</button>
                                </div>
                            </form>
                        </div>
                        <div class="bottom text-center">
                            Nouveau ? @Html.ActionLink("S’inscrire", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    
    <script>
        $("#login-nav").submit(function (e) {
            e.preventDefault();
        });

        $(document).ready(function () {
            $("#btn-login").click(function () {
                $("#log-message").html("Logging in...");
                $("#log-message").removeClass().addClass("alert alert-info");
                var data = {
                    "username": $("#Username").val(),
                    "password": $("#Password").val()
                };
                $.ajax({
                    url: "/user/validateuser",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (status) {
                        if (status.Success)
                        {
                            $("#log-message").html(status.Message);
                            $("#log-message").removeClass().addClass("alert alert-success");
                            setTimeout(redirect.bind(null, status.TargetURL), 750);
                        }
                        else
                        {
                            $("#log-message").html(status.Message);
                            $("#log-message").removeClass().addClass("alert alert-danger");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#log-message").html(textStatus);
                    }
                });
            });
        });

        function redirect(url) {
            window.location.href = url;
        }
    </script>
}