@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="/SignalR/hubs"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
<div id="gamemap">
    <canvas id="canvas" width="1066" height="600"></canvas>
</div>

<script>
    var stage;
    var bg;
    var noeuds;
    var chemins;
    var entities

    // Defining a connection to the server hub.
    var myHub = $.connection.mapHub;
    $.connection.hub.logging = true;
    var queue = new createjs.LoadQueue();

    queue.loadFile({ src: "/Content/Images/Joueur.png", id:"J"});
    queue.loadFile({ src: "/Content/Images/Troll.png", id: "T" });
    queue.loadFile({ src: "/Content/Images/Gobelin.png", id: "G" });
    queue.loadFile({ src: "/Content/Images/Coin.png", id: "P" });
    queue.loadFile({ src: "/Content/Images/MountainDew.png", id: "M" });
    queue.loadFile({ src: "/Content/Images/Doritos.png", id: "D" });
    queue.load();

    $(function () {
        //// Start the hub
        window.hubReady = $.connection.hub.start();

        myHub.client.sendEntities = function (message) {
            for (var i in entities) {
                stage.removeChild(entities[i].bitmap);
            }

            entities = new Array();
            entities = message;

            console.log(entities);

            for (var i in entities) {
                var image = queue.getResult(entities[i].Name);

                var bitmap = new createjs.Bitmap(image);
                entities[i].bitmap = bitmap;
                stage.addChild(bitmap);

                var tmp = entities[i].Noeud.Coordonates.split(',');

                bitmap.x = tmp[0].trim();
                bitmap.y = tmp[1].trim();
            }
        };
    });

    $.connection.hub.start().done(function () {
        // Call the server side function AFTER the connection has been started
        myHub.server.createUser();
    })

    $(document).ready(function () {
        init();
    });

    (function ($) {
        $(window).resize(function () {
            resize();
        });
    })(jQuery);

    function init() {
        stage = new createjs.Stage("canvas");
        stage.canvas.width = 1600;
        stage.canvas.height = 900;

        bg = new createjs.Bitmap("http://prog101.com/travaux/dragon/images/carte02.png");
        stage.addChild(bg);

        getInitChemins();

        createjs.Ticker.addEventListener("tick", tick);
        resize();
        setTimeout(resize(), 1000);
    }


    function tick() {
        stage.update();
    }

    function getInitChemins() {
        noeuds = new Array();
        $.getJSON("/Map/GetChemins", function (result) {
            chemins = result;
            console.log(chemins);

            for (var i in chemins) {
                var ligne_chemin = new createjs.Shape();

                stage.addChild(ligne_chemin);

                ligne_chemin.graphics.setStrokeStyle(3).beginStroke("rgba(0,0,0,1)");

                ligne_chemin.graphics.moveTo(chemins[i].Noeud1.Coordonates.X, chemins[i].Noeud1.Coordonates.Y);
                ligne_chemin.graphics.lineTo(chemins[i].Noeud2.Coordonates.X, chemins[i].Noeud2.Coordonates.Y);

                ligne_chemin.graphics.endStroke;
            }
            
            getInitNoeuds();
        });
    }

    function getInitNoeuds() {
        noeuds = new Array();
        $.getJSON("/Map/GetNoeuds", function (result) {
            noeuds = result;
            console.log(noeuds);

            for (var i in noeuds) {
                var circle_noeud = new createjs.Graphics();
                circle_noeud.setStrokeStyle(3);
                circle_noeud.beginStroke(createjs.Graphics.getRGB(0, 0, 0));
                if (noeuds[i].Buildable == true) circle_noeud.beginFill(createjs.Graphics.getRGB(0, 255, 0));
                else circle_noeud.beginFill(createjs.Graphics.getRGB(255, 0, 0));
                circle_noeud.drawCircle(0, 0, 10);

                var s = new createjs.Shape(circle_noeud);
                s.x = noeuds[i].Coordonates.X;
                s.y = noeuds[i].Coordonates.Y;

                noeuds[i].shape = s;

                stage.addChild(s);
            }
        });
    }

    function resize() {
        var tmpwidth = $("#gamemap").width();
        var tmpheight = window.innerHeight;

        stage.scaleX = tmpwidth / bg.image.width;
        stage.scaleY = stage.scaleX;
    }

    //var c = new createjs.Shape();
    //c.graphics.f("#f00").dc(0, 0, 50); // Drawn a 100x100 circle from the center

    //t.x = t.y = 20;
    //stage.addChild(c, t);

    //window.addEventListener("resize", handleResize);
    //function handleResize() {
    //    var w = window.innerWidth - 2; // -2 accounts for the border
    //    var h = window.innerHeight - 2;
    //    stage.canvas.width = w;
    //    stage.canvas.height = h;
    //    //
    //    var ratio = 100 / 100; // 100 is the width and height of the circle content.
    //    var windowRatio = w / h;
    //    var scale = w / 100;
    //    if (windowRatio > ratio) {
    //        scale = h / 100;
    //    }
    //    // Scale up to fit width or height
    //    c.scaleX = c.scaleY = scale;

    //    // Center the shape
    //    c.x = w / 2;
    //    c.y = h / 2;

    //    stage.update();
    //}

    //handleResize(); // First draw
</script>