@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="/SignalR/hubs"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

<div id="gamemap">
    <canvas id="canvas"></canvas>
</div>

<table id="playersstats" class="table table-bordered table-striped"></table>

<style>
    .container {
        max-width: 2000px !important;
    }

    .big {
        width:100%;
    }
</style>

<script>
    // STATS TABLE //
    $(document).ready(function () {
        InitTable();
        setInterval(InitTable, 2000);
    });

    function InitTable() {
        $.getJSON("/Stats/GetStats", function (result) {
            var oldTable = document.getElementById('playersstats'),
            newTable = oldTable.cloneNode();

            // Insert Header
            var thead = document.createElement('thead');
            var trhead = document.createElement('tr');

            var thA = document.createElement('th');
            thA.appendChild(document.createTextNode("Alias"));
            thA.className = "col-md-6";
            trhead.appendChild(thA);

            var thCu = document.createElement('th');
            var img = document.createElement('img');
            img.src = "/Content/Images/Coin.png";
            img.title = "Pièce d'or";
            thCu.appendChild(img);
            thCu.className = "col-md-1 text-center";
            trhead.appendChild(thCu);

            var thDo = document.createElement('th');
            var img = document.createElement('img');
            img.src = "/Content/Images/Doritos.png";
            img.title = "Dorritos";
            thDo.appendChild(img);
            thDo.className = "col-md-1 text-center";
            trhead.appendChild(thDo);

            var thDe = document.createElement('th');
            var img = document.createElement('img');
            img.src = "/Content/Images/MountainDew.png";
            img.title = "Mountain Dew";
            thDe.appendChild(img);
            thDe.className = "col-md-1 text-center";
            trhead.appendChild(thDe);

            var thI = document.createElement('th');
            var img = document.createElement('img');
            img.src = "/Content/Images/Auberge.png";
            img.title = "Auberge";
            thI.appendChild(img);
            thI.className = "col-md-1 text-center";
            trhead.appendChild(thI);

            var thM = document.createElement('th');
            var img = document.createElement('img');
            img.src = "/Content/Images/Manoir.png";
            img.title = "Manoir";
            thM.appendChild(img);
            thM.className = "col-md-1 text-center";
            trhead.appendChild(thM);

            var thCa = document.createElement('th');
            var img = document.createElement('img');
            img.src = "/Content/Images/Chateau.png";
            img.title = "Chateau";
            thCa.appendChild(img);
            thCa.className = "col-md-1 text-center";
            trhead.appendChild(thCa);

            thead.appendChild(trhead);
            newTable.appendChild(thead);

            // Insert data
            var tbody = document.createElement("tbody");
            for (var i = 0; i < result.length; i++) {
                var tr = document.createElement('tr');

                var tdA = document.createElement('td');
                tdA.appendChild(document.createTextNode(result[i].Alias));
                tdA.className = "col-md-6";
                tr.appendChild(tdA);

                var tdCu = document.createElement('td');
                tdCu.appendChild(document.createTextNode(result[i].Currency));
                tdCu.className = "col-md-1 text-center";
                tr.appendChild(tdCu);

                var tdDo = document.createElement('td');
                tdDo.appendChild(document.createTextNode(result[i].Dorritos));
                tdDo.className = "col-md-1 text-center";
                tr.appendChild(tdDo);

                var tdDe = document.createElement('td');
                tdDe.appendChild(document.createTextNode(result[i].Dew));
                tdDe.className = "col-md-1 text-center";
                tr.appendChild(tdDe);

                var tdI = document.createElement('td');
                tdI.appendChild(document.createTextNode(result[i].Inn));
                tdI.className = "col-md-1 text-center";
                tr.appendChild(tdI);

                var tdM = document.createElement('td');
                tdM.appendChild(document.createTextNode(result[i].Manor));
                tdM.className = "col-md-1 text-center";
                tr.appendChild(tdM);

                var tdCa = document.createElement('td');
                tdCa.appendChild(document.createTextNode(result[i].Castle));
                tdCa.className = "col-md-1 text-center";
                tr.appendChild(tdCa);

                tbody.appendChild(tr);
            }
            newTable.appendChild(tbody);
            
            console.log("Updated stats table");
            oldTable.parentNode.replaceChild(newTable, oldTable);
        });

    }
    // END STATS TABLE //

    var stage;
    var bg;
    var noeuds;
    var chemins;
    var entities

    // Defining a connection to the server hub.
    var myHub = $.connection.mapHub;
    $.connection.hub.logging = false;
    var queue = new createjs.LoadQueue();

    queue.loadFile({ src: "/Content/Images/Joueur.png", id:"J"});
    queue.loadFile({ src: "/Content/Images/Troll.png", id: "T" });
    queue.loadFile({ src: "/Content/Images/Gobelin.png", id: "G" });
    queue.loadFile({ src: "/Content/Images/Coin.png", id: "P" });
    queue.loadFile({ src: "/Content/Images/MountainDew.png", id: "M" });
    queue.loadFile({ src: "/Content/Images/Doritos.png", id: "D" });
    queue.loadFile({ src: "/Content/Images/Auberge.png", id: "A" });
    queue.loadFile({ src: "/Content/Images/Manoir.png", id: "N" });
    queue.loadFile({ src: "/Content/Images/Chateau.png", id: "C" });
    queue.load();

    $(function () {
        //// Start the hub
        window.hubReady = $.connection.hub.start();

        myHub.client.sendEntities = function (message) {
            for (var i in entities) {
                stage.removeChild(entities[i].bitmap);
            }

            entities = new Array();
            entities = message;

            for (var i in entities) {
                var image = queue.getResult(entities[i].Name);

                var bitmap = new createjs.Bitmap(image);
                entities[i].bitmap = bitmap;
                stage.addChild(bitmap);

                var tmp = entities[i].Noeud.Coordonates.split(',');

                bitmap.x = tmp[0].trim();
                bitmap.y = tmp[1].trim();
            }
        };
    });

    $.connection.hub.start().done(function () {
        // Call the server side function AFTER the connection has been started
        myHub.server.createUser();
    })

    $(document).ready(function () {
        init();
    });

    (function ($) {
        $(window).resize(function () {
            resize();
        });
    })(jQuery);

    function init() {
        stage = new createjs.Stage("canvas");
        stage.enableMouseOver();

        bg = new createjs.Bitmap("http://prog101.com/travaux/dragon/images/nowhereland.png");
        stage.addChild(bg);

        getInitChemins();

        createjs.Ticker.addEventListener("tick", tick);
        resize();
        setTimeout(resize(), 1000);
    }


    function tick() {
        stage.update();
    }

    function getInitChemins() {
        noeuds = new Array();
        $.getJSON("/Map/GetChemins", function (result) {
            chemins = result;

            for (var i in chemins) {
                var ligne_chemin = new createjs.Shape();

                stage.addChild(ligne_chemin);

                ligne_chemin.graphics.setStrokeStyle(3).beginStroke("rgba(0,0,0,1)");

                ligne_chemin.graphics.moveTo(chemins[i].Noeud1.Coordonates.X, chemins[i].Noeud1.Coordonates.Y);
                ligne_chemin.graphics.lineTo(chemins[i].Noeud2.Coordonates.X, chemins[i].Noeud2.Coordonates.Y);

                ligne_chemin.graphics.endStroke;
            }
            
            getInitNoeuds();
        });
    }

    function getInitNoeuds() {
        noeuds = new Array();
        $.getJSON("/Map/GetNoeuds", function (result) {
            noeuds = result;

            for (var i in noeuds) {
                var circle_noeud = new createjs.Graphics();
                circle_noeud.setStrokeStyle(3);
                circle_noeud.beginStroke(createjs.Graphics.getRGB(0, 0, 0));
                if (noeuds[i].Buildable == true) circle_noeud.beginFill(createjs.Graphics.getRGB(0, 255, 0));
                else circle_noeud.beginFill(createjs.Graphics.getRGB(255, 0, 0));
                circle_noeud.drawCircle(0, 0, 10);

                var s = new createjs.Shape(circle_noeud);
                s.cursor = "pointer";
                s.x = noeuds[i].Coordonates.X;
                s.y = noeuds[i].Coordonates.Y;

                noeuds[i].shape = s;

                stage.addChild(s);
            }
        });
    }

    function inViewport($el) {
        var elH = $el.outerHeight(),
            H = $(window).height(),
            r = $el[0].getBoundingClientRect(), t = r.top, b = r.bottom;
        return Math.max(0, t > 0 ? Math.min(elH, H - t) : (b < H ? b : H));
    }

    function resize() {
        var tmpwidth = $("#gamemap").width();
        var tmpheight = window.innerHeight;

        stage.scaleX = tmpwidth / bg.image.width;
        stage.scaleY = stage.scaleX;

        stage.canvas.width = tmpwidth;
        stage.canvas.height = stage.scaleY * 900;

        /*
        var tmpwidth = $("#gamemap").width();
        var tmpheight = window.innerHeight;

        var finalwidth;
        var finalheight;

        var viewheight = inViewport($('#gamemap'));

        if (tmpheight > viewheight) {
            scale = viewheight / bg.image.width;
            finalwidth = scale * 1600;
            finalheight = viewheight;
        }
        else {
            scale = tmpwidth / bg.image.width;
            finalwidth = tmpwidth;
            finalheight = scale * 900;
        }

        stage.scaleX = scale;
        stage.scaleY = scale;

        stage.canvas.width = finalwidth;
        stage.canvas.height = finalheight;
        */

        //if (stage.scaleX > 1) $("#canvas").removeClass().addClass("big");
        //else $("#canvas").removeClass();
    }
</script>